<widget xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0" id="com.appocrafts.attendino" version="1.0.0">
  <name>Attendino</name>
  <description>This App redefine the way you take attendence. Introducing Attendino</description>
  <author href="http://www.facebook.com/mohit-khandelwal-72" email="mohitkh7@gmail.com">Appocrafts</author>
  <content src="index.html"/>
  <preference name="DisallowOverscroll" value="true"/>
  <preference name="android-minSdkVersion" value="14"/>
  <plugin name="cordova-plugin-battery-status" source="npm" spec="~1.1.1"/>
  <plugin name="cordova-plugin-camera" source="npm" spec="~2.1.1"/>
  <plugin name="cordova-plugin-media-capture" source="npm" spec="~1.2.0"/>
  <plugin name="cordova-plugin-console" source="npm" spec="~1.0.2"/>
  <plugin name="cordova-plugin-contacts" source="npm" spec="~2.0.1"/>
  <plugin name="cordova-plugin-device" source="npm" spec="~1.1.1"/>
  <plugin name="cordova-plugin-device-motion" source="npm" spec="~1.2.0"/>
  <plugin name="cordova-plugin-device-orientation" source="npm" spec="~1.0.2"/>
  <plugin name="cordova-plugin-dialogs" source="npm" spec="~1.2.0"/>
  <plugin name="cordova-plugin-file" source="npm" spec="~4.1.1"/>
  <plugin name="cordova-plugin-file-transfer" source="npm" spec="~1.5.0"/>
  <plugin name="cordova-plugin-geolocation" source="npm" spec="~2.1.0"/>
  <plugin name="cordova-plugin-globalization" source="npm" spec="~1.0.3"/>
  <plugin name="cordova-plugin-inappbrowser" source="npm" spec="~1.3.0"/>
  <plugin name="cordova-plugin-media" source="npm" spec="~2.2.0"/>
  <plugin name="cordova-plugin-network-information" source="npm" spec="~1.2.0"/>
  <plugin name="cordova-plugin-splashscreen" source="npm" spec="~3.2.1"/>
  <plugin name="cordova-plugin-statusbar" source="npm" spec="~2.1.2"/>
  <plugin name="cordova-plugin-vibration" source="npm" spec="~2.1.0"/>
  <plugin name="cordova-plugin-whitelist" source="npm" spec="~1.2.1"/>
  
  <!-- Changes done by me -->
  <icon src="img.png" />
    <icon gap:density="ldpi" gap:platform="android" src="img.png" />
    <icon gap:density="mdpi" gap:platform="android" src="img.png" />
    <icon gap:density="hdpi" gap:platform="android" src="img.png" />
    <icon gap:density="xhdpi" gap:platform="android" src="img.png" />
    <icon gap:platform="blackberry" src="img.png" />
    <icon gap:platform="blackberry" gap:state="hover" src="img.png" />
    <icon gap:platform="ios" height="57" src="img.png" width="57" />
    <icon gap:platform="ios" height="72" src="img.png" width="72" />
    <icon gap:platform="ios" height="114" src="img.png" width="114" />
    <icon gap:platform="ios" height="144" src="img.png" width="144" />
    <icon gap:platform="webos" src="img.png" />
    <icon gap:platform="winphone" src="img.png" />
    <icon gap:platform="winphone" gap:role="background" src="img.png" />
    <gap:splash gap:density="ldpi" gap:platform="android" src="img.png" />
    <gap:splash gap:density="mdpi" gap:platform="android" src="img.png" />
    <gap:splash gap:density="hdpi" gap:platform="android" src="img.png" />
    <gap:splash gap:density="xhdpi" gap:platform="android" src="img.png" />
    <gap:splash gap:platform="blackberry" src="img.png" />
    <gap:splash gap:platform="ios" height="480" src="img.png" width="320" />
    <gap:splash gap:platform="ios" height="960" src="img.png" width="640" />
    <gap:splash gap:platform="ios" height="1024" src="img.png" width="768" />
    <gap:splash gap:platform="ios" height="768" src="img.png" width="1024" />
    <gap:splash gap:platform="winphone" src="img.png" />
  <access origin="*"/>
  <allow-intent href="http://*/*"/>
  <allow-intent href="https://*/*"/>
  <allow-intent href="tel:*"/>
  <allow-intent href="sms:*"/>
  <allow-intent href="mailto:*"/>
  <allow-intent href="geo:*"/>
  <platform name="android">
    <allow-intent href="market:*"/>
  </platform>
  <platform name="ios">
    <allow-intent href="itms:*"/>
    <allow-intent href="itms-apps:*"/>
  </platform>
</widget>
